.menu_img{
    @include menu-img;
}
.menu_titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.menu_titre h1{
    margin-left: 20px;
    font-family: $logotitre;
    font-size: 30px;
}
.menu{
    background-color: rgb(247, 245, 245);
    margin-top: -70px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    height: 1150px;
    
    
}
.menu_lanote{
    background-color: rgb(247, 245, 245);
    margin-top: -70px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    height: 1220px;
    
    
}
.menu_titre_entrées{
    margin-left: 20px;   
}
.menu_titre_entrées-lanote{
    margin-left: 20px;   
}
.menu_titre_entrées::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1030px;   
}
.menu_titre_entrées-lanote::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1100px;   
}

.menu_titre_plats{
    margin-left: 20px;
   padding-top: 30px;
}
.menu_titre_plats-lanote{
    margin-left: 20px;
   padding-top: 30px;
}
.menu_titre_plats::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 730px;
      
}
.menu_titre_plats-lanote::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 715px;
      
}
.menu_carte_info{
    text-overflow: ellipsis;       
    margin-left: 0px;
}
.menu_carte{
   @include menu-carte;
   align-items: center;
   justify-content: center;
  
}
.menu_entrées_carte{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.menu_entrées{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.menu_text{
    text-overflow: ellipsis;
    font-weight: bold;
    margin-bottom: 5px;
}
.menu_prix{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.menu_text_info{       
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    margin: 0;
}
.menu_plats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.menu_desserts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}
.menu_titre_desserts{
    margin-left: 20px;
}
.menu_titre_desserts::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 425px;     
}
.menu_titre_desserts-lanote{
    margin-left: 20px;
}
.menu_titre_desserts-lanote::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 410px;
      
}
.menu_commander{
    display: flex;
    justify-content: center;
}
.menu_commander_bouton{
    display: flex;
    border: 1px solid transparent;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    color: $color-white;
    background-color: #9356dc;
    background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
    -webkit-box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.26); 
    box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.26);  
    margin-bottom: 50px;  
}