@-webkit-keyframes loader {
  90% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  90% {
    opacity: 0;
    z-index: -10;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

footer {
  color: white;
  background-color: #252525;
  height: 180px;
  padding-top: 30px;
}

.foot {
  margin-left: 20px;
  margin-top: -20px;
}

.foot h3 {
  font-family: "Shrikhand", cursive;
}

.foot_text {
  margin-bottom: 10px;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
  z-index: 9999;
  -webkit-animation: loader 6s;
          animation: loader 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.lettre {
  color: #9356DC;
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.fonction_bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border: 1px solid transparent;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  background-color: #f7f5f5;
}

.fonction_bouton_numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  left: -3%;
}

.fonction_bouton_icons {
  color: #777777;
  font-size: 150%;
  position: relative;
  left: -8%;
}

.fonction_bouton_info {
  position: relative;
  left: -15%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.restaurants_carte {
  width: 90%;
  height: 230px;
  margin-bottom: 20px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}

.restaurants_carte-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 160px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
  z-index: 9999;
  -webkit-animation: loader 6s;
          animation: loader 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.lettre {
  color: #9356DC;
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

.header_logo {
  width: 50%;
}

.adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ececec;
  height: 60px;
  border-top: 2px solid #cfcfcf;
  -webkit-box-shadow: 0px 3px 3px #73737338 inset;
          box-shadow: 0px 3px 3px #73737338 inset;
}

.fa-map-marker-alt {
  margin-right: 15px;
}

.reservation {
  background-color: #f7f5f5;
}

.reservation .reservation_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation .reservation_info h1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.reservation_info_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.reservation_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.reservation_search_bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 70%;
  height: 50px;
  color: white;
  background-color: #9356dc;
  background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
  -webkit-box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
}

.fonction h1 {
  position: relative;
  left: -20%;
  margin-bottom: 50px;
}

.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 1100px;
}

.restau {
  background-color: #f7f5f5;
  margin-top: 30px;
}

.restau_titre {
  padding-top: 30px;
}

.restau_titre h1 {
  margin-left: 20px;
}

.restaurants_carte-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants_carte-info h3 {
  margin-left: 10px;
  padding-top: 30px;
}

.restaurants_carte-info span {
  margin-left: 10px;
  padding-bottom: 30px;
  margin-top: -15px;
}

.restaurants_carte-icon {
  position: absolute;
  right: 10%;
}
/*# sourceMappingURL=main.css.map */