@charset "UTF-8";
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  50% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  50% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
    display: none;
  }
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
    display: none;
  }
}

.reservation_search_bouton:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fonction_bouton:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #9356dc;
  background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
  color: white;
}

.fonction_bouton:hover .fa-mobile-alt {
  color: white;
}

.fonction_bouton:hover .fa-list {
  color: white;
}

.fonction_bouton:hover .fa-store {
  color: white;
}

.fonction_bouton:hover .fonction_bouton_numero {
  background-color: black;
  color: white;
}

.restaurants_carte:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-zoom:hover {
  font-size: 20px;
}

.menu_commander_bouton:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#menu_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -200px;
  width: 20%;
  height: 60px;
  background: #78e6dc;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_carte:hover #menu_slide {
  -webkit-transition: 1s;
  transition: 1s;
  right: 0;
}

.fa-check-circle {
  font-size: 30px;
  color: white;
}

.menu_carte-delay1 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay2 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay3 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay4 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay5 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay6 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay7 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay8 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay9 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_carte-delay10 {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.menu_carte:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu_carte .fa-check-circle {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container .icon path {
  fill: white;
  stroke: black;
  stroke-width: 20px;
}

.container_menu .icon path {
  fill: white;
  stroke: black;
  stroke-width: 10px;
}

.container svg {
  width: 30px;
  height: 30px;
  position: relative;
  top: 20px;
}

.container_menu svg {
  width: 30px;
  height: 30px;
}

.container .icon.heart:hover path {
  -webkit-animation: animate-heart 0.5s linear forwards;
          animation: animate-heart 0.5s linear forwards;
}

.container_menu .icon.heart:hover path {
  -webkit-animation: animate-heart 0.5s linear forwards;
          animation: animate-heart 0.5s linear forwards;
}

@-webkit-keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: black;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: black;
  }
  80% {
    stroke-dashoffset: 2800;
    fill: #9356DC;
    background-image: #FF79DA;
    stroke: white;
  }
  100% {
    stroke-dashoffset: 2800;
    fill: #FF79DA;
    background-image: #FF79DA;
    stroke: white;
  }
}

@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: black;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: black;
  }
  80% {
    stroke-dashoffset: 2800;
    fill: #9356DC;
    background-image: #FF79DA;
    stroke: white;
  }
  100% {
    stroke-dashoffset: 2800;
    fill: #FF79DA;
    background-image: #FF79DA;
    stroke: white;
  }
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

footer {
  color: white;
  background-color: #252525;
  height: 180px;
  padding-top: 30px;
}

.foot {
  margin-left: 20px;
  margin-top: -20px;
}

.foot h3 {
  font-family: "Shrikhand", cursive;
}

.foot_text {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

.fonction_bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border: 1px solid transparent;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  background-color: #f7f5f5;
}

.fonction_bouton_numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #9356DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  left: -3%;
}

.fonction_bouton_icons {
  color: #777777;
  font-size: 150%;
  display: inline-block;
  margin-right: 15px;
}

.fonction_bouton_info {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.restaurants_carte {
  position: relative;
  width: 90%;
  height: 230px;
  margin-bottom: 20px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants_carte-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 160px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader .01s;
          animation: loader .01s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", cursive;
}

.lettre {
  color: #9356DC;
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  font-family: "Shrikhand", cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ececec;
  height: 60px;
  border-top: 2px solid #cfcfcf;
  -webkit-box-shadow: 0px 3px 3px #73737338 inset;
          box-shadow: 0px 3px 3px #73737338 inset;
}

.fa-map-marker-alt {
  margin-right: 15px;
}

.reservation {
  background-color: #f7f5f5;
}

.reservation .reservation_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation .reservation_info h1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.reservation_info_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.reservation_info_plus span {
  width: 80%;
}

.reservation_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  padding-top: 30px;
}

.reservation_search_bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  border-radius: 30px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 250px;
  height: 50px;
  color: white;
  background-color: #9356dc;
  background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
  -webkit-box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_logo_menu {
  margin-left: 20%;
  font-family: "Shrikhand", cursive;
}

h2 {
  margin-left: 20px;
}

.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 1100px;
}

.restau {
  background-color: #f7f5f5;
  margin-top: 30px;
}

.restau_titre {
  padding-top: 30px;
}

.restau_titre h1 {
  margin-left: 20px;
}

.restaurants_carte-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants_carte-info h3 {
  margin-left: 10px;
  padding-top: 30px;
}

.restaurants_carte-info span {
  margin-left: 10px;
  padding-bottom: 30px;
  margin-top: -15px;
}

.restaurants_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.restaurants_a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

.menu_img {
  height: 320px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.menu_titre h1 {
  margin-left: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.menu {
  background-color: #f7f5f5;
  margin-top: -70px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  height: 1150px;
}

.menu_lanote {
  background-color: #f7f5f5;
  margin-top: -70px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  height: 1220px;
}

.menu_titre_entrées {
  margin-left: 20px;
}

.menu_titre_entrées-lanote {
  margin-left: 20px;
}

.menu_titre_entrées::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 1030px;
}

.menu_titre_entrées-lanote::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 1100px;
}

.menu_titre_plats {
  margin-left: 20px;
  padding-top: 30px;
}

.menu_titre_plats-lanote {
  margin-left: 20px;
  padding-top: 30px;
}

.menu_titre_plats::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 730px;
}

.menu_titre_plats-lanote::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 715px;
}

.menu_carte_info {
  text-overflow: ellipsis;
  margin-left: 0px;
}

.menu_carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  position: relative;
  overflow: hidden;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.menu_entrées_carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.menu_text {
  text-overflow: ellipsis;
  font-weight: bold;
  margin-bottom: 5px;
}

.menu_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_text_info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.menu_plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.menu_desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.menu_titre_desserts {
  margin-left: 20px;
}

.menu_titre_desserts::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 425px;
}

.menu_titre_desserts-lanote {
  margin-left: 20px;
}

.menu_titre_desserts-lanote::after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  bottom: 410px;
}

.menu_commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_commander_bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #9356dc;
  background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
  -webkit-box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.26);
  margin-bottom: 50px;
}

@media screen and (min-width: 1px) and (max-width: 319px) {
  .menu_titre h1 {
    font-size: 23px;
  }
  .menu_titre_entrées::after {
    display: none;
  }
  .menu_titre_entrées-lanote::after {
    display: none;
  }
  .menu_titre_plats::after {
    display: none;
  }
  .menu_titre_plats-lanote::after {
    display: none;
  }
  .menu_titre_desserts::after {
    display: none;
  }
  .menu_titre_desserts-lanote::after {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 377px) {
  .menu_titre h1 {
    font-size: 23px;
  }
  .menu_lanote .menu_titre h1 {
    font-size: 20px;
  }
  .menu_titre_entrées::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1050px;
  }
  .menu_titre_entrées-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1130px;
  }
  .menu_titre_plats::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 745px;
  }
  .menu_titre_plats-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 745px;
  }
  .menu_titre_desserts::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 445px;
  }
  .menu_titre_desserts-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 440px;
  }
}

@media screen and (min-width: 378px) and (max-width: 413px) {
  .menu_lanote .menu_titre h1 {
    font-size: 25px;
  }
  .menu_titre h1 {
    font-size: 23px;
  }
  .menu_titre_entrées-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1110px;
  }
  .menu_titre_plats-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 725px;
  }
  .menu_titre_desserts-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 420px;
  }
  .menu_titre_entrées::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 1050px;
  }
  .menu_titre_plats::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 745px;
  }
  .menu_titre_desserts::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 20px;
    bottom: 445px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonction {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonction_bouton {
    width: 30%;
    margin-left: 15px;
  }
  .restaurants {
    height: 550px;
    -webkit-column-count: 2;
            column-count: 2;
  }
  .restaurants_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 97%;
  }
  .restaurants_carte {
    width: 40%;
    margin-right: 30px;
  }
  .restaurants_carte-icon {
    position: static;
    width: 32px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .menu_all {
    display: block;
    -webkit-column-count: 3;
            column-count: 3;
    height: 300px;
  }
  .menu_all-lanote {
    display: block;
    -webkit-column-count: 3;
            column-count: 3;
    height: 480px;
  }
  .menu {
    height: auto;
  }
  .menu_titre_desserts::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 1040px;
    bottom: 585px;
  }
  .menu_titre_plats::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 35%;
    bottom: 585px;
  }
  .menu_titre_entrées::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 20px;
    bottom: 585px;
  }
  .menu_plats {
    margin-bottom: 100px;
  }
  .menu_titre_desserts-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 1040px;
    bottom: 585px;
  }
  .menu_titre_plats-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 35%;
    bottom: 585px;
  }
  .menu_titre_entrées-lanote::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #f7f5f5;
    position: absolute;
    left: 20px;
    bottom: 585px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .fonction {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonction_bouton {
    width: 30%;
    margin-left: 15px;
  }
  .restaurants {
    height: 550px;
    -webkit-column-count: 2;
            column-count: 2;
  }
  .restaurants_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 97%;
  }
  .restaurants_carte {
    width: 40%;
    margin-right: 30px;
  }
  .restaurants_carte-icon {
    position: static;
    width: 32px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 2000px) {
  .fonction {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonction_bouton {
    width: 30%;
    margin-left: 25px;
  }
  .restaurants {
    height: 550px;
    -webkit-column-count: 2;
            column-count: 2;
  }
  .restaurants_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 97%;
  }
  .restaurants_carte {
    width: 40%;
    margin-right: 30px;
  }
  .restaurants_carte-icon {
    position: static;
    width: 32px;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */