@media screen and (max-width: 767px){
    .fonction_bouton_container{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .fonction{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .fonction_bouton{
        width: 30%;
        margin-left: 15px;
    }
    .restaurants{        
        height: 550px;        
        column-count: 2;
    }
    .restaurants_info{
        display: flex;
        justify-content: space-between;
        width: 97%;
    }
    .restaurants_carte{
        
        width: 40%;
        margin-right: 30px;
    }
   
    .restaurants_carte-icon{
       position: static;
       width: 32px;
       margin-top: 10px;
    }   
}
@media screen and (min-width: 1025px){
    .menu_all{
        display: block;
        column-count: 3;
        height: 300px;
    }
    .menu_all-lanote{
        display: block;
        column-count: 3;
        height: 480px;
    }
    .menu{
        height: auto;
    }
    .menu_titre_desserts::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 1040px;
        bottom: 585px;     
    }
    .menu_titre_plats::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 35%;
        bottom: 585px;
          
    }
    .menu_titre_entrées::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 20px;
        bottom: 585px;   
    }
    .menu_plats{
        margin-bottom: 100px;
    }
    .menu_titre_desserts-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 1040px;
        bottom: 585px;     
    }
    .menu_titre_plats-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 35%;
        bottom: 585px;
          
    }
    .menu_titre_entrées-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: rgb(247, 245, 245);
        position: absolute;
        left: 20px;
        bottom: 585px;   
    }
}