@media screen and (min-width: 768px) and (max-width: 1024px){
    .fonction{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .fonction_bouton{
        width: 30%;
        margin-left: 15px;
    }
    .restaurants{        
        height: 550px;        
        column-count: 2;
    }
    .restaurants_info{
        display: flex;
        justify-content: space-between;
        width: 97%;
    }
    .restaurants_carte{
        
        width: 40%;
        margin-right: 30px;
    }
   
    .restaurants_carte-icon{
       position: static;
       width: 32px;
       margin-top: 10px;
    }

   
    
}