@media screen and (min-width:414px ) and (max-width: 767px){
    .fonction_bouton_container{
        flex-direction: column;
    }
    .menu_titre_entrées-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }
    .menu_prix{
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: flex-end;
        padding-left: 10px;
        padding-right: 12px;
    }
    .menu_lanote{
        height: 1300px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .fonction{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .fonction_bouton{
        width: 30%;
        margin-left: 15px;
    }
    .restaurants{        
        height: 550px;        
        column-count: 2;
    }
    .restaurants_info{
        display: flex;
        justify-content: space-between;
        width: 97%;
    }
    .restaurants_carte{
        
        width: 40%;
        margin-right: 30px;
    }
   
    .restaurants_carte-icon{
       position: static;
       width: 32px;
       margin-top: 10px;
    }   
    .menu_titre_entrées-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }
    .menu_prix{
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: flex-end;
        padding-left: 10px;
        padding-right: 30px;
    }
    .menu_lanote{
        height: 1250px;
    }
}
  
   