@media screen and (min-width: 1px) and (max-width: 319px){
    .menu_titre h1{
        font-size: 23px;
    }
    .menu_titre_entrées{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }
   
    .menu_titre_entrées-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts-lanote{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts-lanote::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }
  
    
}
@media screen and (min-width: 320px) and (max-width: 377px){
    .menu_titre h1{
        font-size: 23px;
    }
    .menu_lanote{
        .menu_titre h1{
            font-size: 20px;
        }
    }
    .menu_titre_entrées{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }
    .menu_prix{
        padding-right: 0;
    }
    
}
@media screen and (min-width: 378px) and (max-width: 413px){
    .menu_lanote{
        .menu_titre h1{
            font-size: 25px;
        }
    }
    .menu_titre h1{
        font-size: 23px;
    }    
    .menu_titre_entrées{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_entrées::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
    .menu_titre_plats{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_plats::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
          
    }
    .menu_titre_desserts{
        position: relative;
        padding-bottom: 0.5rem;
    }
    .menu_titre_desserts::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;     
    }

   

}

    