body{
    width: 100%;
    margin: 0;
    font-family: $police-principale;
}

footer{
    color: $color-white;
    background-color: rgb(37, 37, 37);
    height: 180px;
    padding-top: 30px;
}
.foot{
    margin-left: 20px;
    margin-top: -20px;
}
.foot h3{
    font-family: $logotitre;
}
.foot_text{
    margin-bottom: 10px;
}
.fa-utensils{
    margin-right: 15px;
}
.fa-hands-helping{
    margin-right: 8px;
}
.loader{
    @include chargement;
}
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
.lettre{
    @include chargement-lettre;
}
@keyframes flash{
    0%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90%{
        color: $color-primary;
        text-shadow: none;
    }
    100%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}