body{
    width: 100%;
    margin: 0;
    font-family: $police-principale;
}

footer{
    color: $color-white;
    background-color: rgb(37, 37, 37);
    height: 180px;
    padding-top: 30px;
}
.foot{
    margin-left: 20px;
    margin-top: -20px;
}
.foot h3{
    font-family: $logotitre;
}
.foot_text{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}
.fa-utensils{
    margin-right: 15px;
}
.fa-hands-helping{
    margin-right: 8px;
}
