
@keyframes loader {
    0% {
      opacity: 1;
      z-index: 9999;
    }
    50%{
        opacity: 1;
        z-index: 9999;
    }
    
    100%{
        opacity: 0;
        z-index: -10;
    }
  } 
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
  @keyframes flash{
    0%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90%{
        color: $color-primary;
        text-shadow: none;
    }
    100%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
       
    }
}

.reservation_search_bouton:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: none;

    
}
.fonction_bouton:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: none;
    background-color: #9356dc;
    background-image: linear-gradient(350deg, #9356dc 20%, #ff79da 100%);
    color: white;
    .fa-mobile-alt{
        color: white;
    }
    .fa-list{
        color: white;
    }
    .fa-store{
        color: white;
    }
    .fonction_bouton_numero{
        background-color: black;
        color: $color-white;
        
    }
}

.restaurants_carte:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: none;
}

.contact-zoom:hover{
    font-size: 20px;
}
.menu_commander_bouton:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: none;
}
.menu_slide {
    display: flex;
    position: absolute;
    right: -200px;
    width: 20%;
    height: 60px;
    background: rgb(120, 230, 220);
    transition: 1s;
    justify-content: center;
    align-items: center;
    
}

.menu_carte:hover .menu_slide {
    transition: 1s;
    right: 0;
    
}
.fa-check-circle{
    color: $color-white;
}

.menu_carte:hover .fa-check-circle{
    font-size: 30px;     
	animation: rotate-center 1s ease-in-out both;
    color: $color-white;  
    animation-fill-mode: forwards;
}

  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              color: $color-white;
    }
  }
.menu_carte-delay1{
    
    animation: apparition 1s ;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    
}
.menu_carte-delay2{
    animation: apparition 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    
}
.menu_carte-delay3{
    animation: apparition 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
   
    
}
.menu_carte-delay4{
    animation: apparition 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    
    
}
.menu_carte-delay5{
    animation: apparition 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    
}
.menu_carte-delay6{
    animation: apparition 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    
}
.menu_carte-delay7{
    animation: apparition 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    
}
.menu_carte-delay8{
    animation: apparition 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
   
}
.menu_carte-delay9{
    animation: apparition 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
   
}
.menu_carte-delay10{
    animation: apparition 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}
@keyframes apparition{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(0);
        opacity: 0;
    }
  
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.menu_carte:hover .fa-check-circle{
    transform: rotate(360deg);

}
.menu_carte .fa-check-circle{
    transform: rotate(0);
    transition-duration: 0.5s;
}
